[user]
    name = Envielox
    email = envielox@gmail.com

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[diff]
    tool = vimdiff

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
    au = add -u
    lo = log --graph --decorate=full --all

[push]
    default = simple

[color]
    ui = true

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

