xterm*faceName: Sauce code powerline
!xterm*font:     xft:Anonymous Pro:pixelsize=12:antialiasing=true
xterm*font:     xft:Sauce code powerline:pixelsize=18:antialiasing=true
!xterm*font:     xft:Anonymous Pro:pixelsize=11:antialiasing=false
xterm*transparent: true
xterm*shading: 16

xterm.colourULMode: on
xterm.colourUL: green3
xterm.colourIT: yellow3
xterm.colourBD: #DB6E00
xterm.colourRV: #ff3333
xterm.cursorColor: #22cc22

xterm*background: white
xterm*foreground: black
!xterm*faceName Inconsolanta
!xterm*faceName: Anonymous Pro
!xterm*faceSize: 12

xterm*visualBell: false

xterm*locale: true
xterm*saveLines: 4096

