
! rxvt-unicode configuration
urxvt.scrollBar:        false
urxvt*saveLines:        65535
urxvt*cursorBlink:      false
urxvt*urgentOnBell:     true
! urxvt*override-redirect:false
! urxvt*borderLess:       true
! urxvt*internalBorder:       0
! urxvt*externalBorder:       0

! Extensions
urxvt*perl-lib:        /usr/lib/urxvt/perl/
urxvt*perl-ext-common: default,matcher,searchable-scrollback
urxvt*searchable-scrollback:    M-r
urxvt*url-launcher:     /usr/bin/firefox
urxvt*matcher.button:  1
urxvt*modifier:     alt

! Appearance
urxvt*font:             xft:Sauce Code Powerline:pixelsize=16
urxvt*letterSpace:      -1

!  - pseudo transparency
! urxvt*shading:    50
! urxvt*transparent:true

! white color palette for urxvt.
urxvt.background:  #ffffff
urxvt.foreground:  #474747
! normal colors: "black", red, green, yellow, blue, magenta, cyan, "white"
urxvt.color0:      #ebebeb
urxvt.color1:      #e70015
urxvt.color2:      #33a400
urxvt.color3:      #d3a400
urxvt.color4:      #0070f2
urxvt.color5:      #ec2cab
urxvt.color6:      #00bbaa
urxvt.color7:      #878787
! bright/bold versions of colors (in the same order)
urxvt.color8:      #cdcdcd
urxvt.color9:      #d00007
urxvt.color10:     #119100
urxvt.color11:     #be9100
urxvt.color12:     #005fde
urxvt.color13:     #d60098
urxvt.color14:     #00a797
urxvt.color15:     #282828


! Xterm configuration
!xterm*faceName: Sauce code powerline
xterm*font:     xft:Sauce code powerline:pixelsize=18:antialiasing=true
xterm*transparent: true
xterm*shading: 16

xterm.colourULMode: on
xterm.colourUL: green3
xterm.colourIT: yellow3
xterm.colourBD: #DB6E00
xterm.colourRV: #ff3333
xterm.cursorColor: #22cc22

xterm*background: white
xterm*foreground: black

xterm*visualBell: false

xterm*locale: true
xterm*saveLines: 4096
